body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #000000, #0095ff);
}

nav {
  background: linear-gradient(90deg, #000000, #008cff);
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 14px;
  text-decoration: none;
  font-weight: bold;
  color: #444;
}

section {
  padding: 50px 25px;
  max-width: 1000px;
  margin: 20px auto;
  background: white;
  border-radius: 12px;
}

.button {
  background: #bbdefb;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.project-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-wrapper img {
  width: 300px;
  border-radius: 12px;
}

#profile img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.grid img {
  width: 150px;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.skills-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.skill-btn {
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.skill-btn.active {
  background: #0d6efd;
  color: white;
}

footer {
  text-align: center;
  padding: 15px;
  background: #006aff;
}
